.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}
.faq {
    padding: 60px;
    &__title {
        margin-bottom: 60px;
    }
    &__accordion {
        &-header {
            padding: 25px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            box-sizing: border-box;
        }
        &-icon {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            background: #fff;
        }
        &-title {
            font-size: 24px;
            line-height: 1.35;
            font-weight: 600;
        }
        &-content {
            
        }
    }
}