.anchor {
    position: absolute;
    left: -1px;
    height: 76px;
    bottom: 100%;
}
@media (max-width: 1200px) {
    .anchor {
        height: 62px;
    }
}
@media (max-width: 606px) {
    .anchor {
        height: 59px;
    }
}