@keyframes shine {
    30% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}
.button {
    color: #000;
    background: #ffcc00;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    font-family: "Montserrat", sans-serif;
    position: relative;
    transition: .3s all;
    overflow: hidden;
    &_animated {
        &::before {
            content: "";
            display: block;
            background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
            width: 45px;
            height: 100%;
            position: absolute;
            top: 0;
            left: -60px;
            transform: skewX(-45deg);
            animation-name: shine;
            animation-duration: 3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
}
.button-top {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: none;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.20);
    border-radius: 100%;
    z-index: 11;
    svg {
        rect {
            transition: .3s all;
        }
    }
    &:hover {
        svg {
            rect {
                fill: #ffcc00;
            }
        }
    }
}
.button-smeta {
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.3);
    border: 1px solid #000;
    width: 263px;
    height: 55px;
    z-index: 11;
}
@media (max-width: 640px) {
    .button-top {
        display: none !important;
    }
}
@media (hover: hover) {
    .button {
        &:hover {
            background: #f0c000;
        }
    }
}
@media (hover: none) {
    .button {
        &:active {
            background: #f0c000;
        }
    }
}