.title {
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 42px;
    line-height: 1.23;
}
@media (max-width: 1200px) {
    .title {
        font-size: 38px;
    }
}
@media (max-width: 640px) {
    .title {
        font-size: 30px;
    }
}